.title
  .title--wolf
  .title--text.title-top1 На нашем сайте вы найдете:
  .title--text.title-top2 качественные чучела животных,
  .title--text.title-top3 ковры с головами
  .title--text.title-top4 и многое другое...
.product
  .product--title.prod-title-w Чучела животных
  .product--order возможно изготовление по индивидуальному заказу
  .product--head.prod-head-w Чучело медведя
  .product--price.prod-price-w 80 000 <span class='rub'>₶</span>
  .product--description.prod-descr-w.
    <span>В</span>ысота медведя 172 см. Исполнен в классическом варианте.
  .gallery.gall-w
    a.gallery--photo.fancybox-thumb(rel='fancybox-thumb' href='img/gallery/bear-b1/photo1.jpg')
      img(src='img/gallery/bear-b1/photo1.jpg' height='200px' width='200px')
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
    a.gallery--photo.fancybox-thumb(rel='fancybox-thumb' href='img/gallery/bear-b1/photo2.jpg')
      img(src='img/gallery/bear-b1/photo2.jpg' height='200px' width='200px')
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
    a.gallery--photo.fancybox-thumb(rel='fancybox-thumb' href='img/gallery/bear-b1/photo3.jpg')
      img(src='img/gallery/bear-b1/photo3.jpg' height='200px' width='200px')
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right