.title
  .title--wolf
  .title--text.title-top1 На нашем сайте
  .title--text.title-top1-1 вы найдете:
  .title--text.title-top2 чучела животных,
  .title--text.title-top3 ковры с головами
  .title--text.title-top4 и многое другое...
.why
  .why--text Почему лучше покупать у нас?
  .why--reason
    .why--reason--image.img1
    .why--reason--head Отсутствие посредников
    .why--reason--body Общаетесь напрямую с мастерами
  .why--reason
    .why--reason--image.img2
    .why--reason--head Качество лучше
    .why--reason--body При этом цены ниже
  .why--reason
    .why--reason--image.img3
    .why--reason--head Безопасно
    .why--reason--body Наличие ветеринарного свидетельства о безопасности таксидермических изделий
  .why--reason
    .why--reason--image.img4
    .why--reason--head Удобно
    .why--reason--body Оплата при получении изделия
  .why--reason
    .why--reason--image.img5
    .why--reason--head 100% гарантия
    .why--reason--body возврата денег, если вас не устроит качество

.product
  .product--title.prod-title-w Чучела животных
  .product--order возможно изготовление по индивидуальному заказу
  .product--head.head-bear-b1-w Чучело медведя
  .product--price.prod-price-w 80 000 <span class='rub'>₶</span>
  .product--description.descr-bear-b1-w.
    <span>В</span>ысота медведя 172 см. Исполнен в классическом варианте.
  .gallery
    a.gallery--photo.fancybox-bear-b1.gall-left-pos(rel='fancybox-thumb' href='img/gallery/bear-b1/photo1.jpg')
      img(src='img/gallery/bear-b1/photo1.jpg' height='200px' width='200px')
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
    a.gallery--photo.fancybox-bear-b1.gall-center-pos(rel='fancybox-thumb' href='img/gallery/bear-b1/photo2.jpg')
      img(src='img/gallery/bear-b1/photo2.jpg' height='200px' width='200px')
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
    a.gallery--photo.fancybox-bear-b1.gall-right-pos(rel='fancybox-thumb' href='img/gallery/bear-b1/photo3.jpg')
      img(src='img/gallery/bear-b1/photo3.jpg' height='200px' width='200px')
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
  .product--head.head-bear-s1-w Чучело медвежонка
  .product--price.prod-price-w 35 000 <span class='rub'>₶</span>
  .product--description.descr-bear-s1-w.
    <span>В</span>ысота медвежонка 116 см. Исполнен в классическом варианте.
  .gallery
    a.gallery--photo.fancybox-bear-s1.gall-left-pos(rel='fancybox-thumb' href='img/gallery/bear-s1/photo1.jpg')
      img(src='img/gallery/bear-s1/photo1.jpg' height='200px' width='200px')
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
    a.gallery--photo.fancybox-bear-s1.gall-center-pos(rel='fancybox-thumb' href='img/gallery/bear-s1/photo2.jpg')
      img(src='img/gallery/bear-s1/photo2.jpg' height='200px' width='200px')
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
    a.gallery--photo.fancybox-bear-s1.gall-right-pos(rel='fancybox-thumb' href='img/gallery/bear-s1/photo3.jpg')
      img(src='img/gallery/bear-s1/photo3.jpg' height='200px' width='200px')
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
  .product--head.head-bear-s1-w Чучело медвежонка
  .product--price.prod-price-w 35 000 <span class='rub'>₶</span>
  .product--description.descr-bear-s1-w.
    <span>В</span>ысота медвежонка 132 см. Исполнен в классическом варианте.
  .gallery
    a.gallery--photo.fancybox-bear-s2.gall-left-pos(rel='fancybox-thumb' href='img/gallery/bear-s2/photo1.jpg')
      img(src='img/gallery/bear-s2/photo1.jpg' height='200px' width='200px')
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
    a.gallery--photo.fancybox-bear-s2.gall-center-pos(rel='fancybox-thumb' href='img/gallery/bear-s2/photo2.jpg')
      img(src='img/gallery/bear-s2/photo2.jpg' height='200px' width='200px')
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
    a.gallery--photo.fancybox-bear-s2.gall-right-pos(rel='fancybox-thumb' href='img/gallery/bear-s2/photo3.jpg')
      img(src='img/gallery/bear-s2/photo3.jpg' height='200px' width='200px')
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
  .product--head.head-bear-s1-w Чучело медвежонка
  .product--price.prod-price-w 45 000 <span class='rub'>₶</span>
  .product--description.descr-bear-s1-w.
    <span>В</span>ысота медвежонка 120 см. Исполнен в классическом варианте.
  .gallery
    a.gallery--photo.fancybox-bear-s3.gall-left-pos(rel='fancybox-thumb' href='img/gallery/bear-s3/photo1.jpg')
      img(src='img/gallery/bear-s3/photo1.jpg' height='200px' width='200px')
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
    a.gallery--photo.fancybox-bear-s3.gall-center-pos(rel='fancybox-thumb' href='img/gallery/bear-s3/photo2.jpg')
      img(src='img/gallery/bear-s3/photo2.jpg' height='200px' width='200px')
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
    a.gallery--photo.fancybox-bear-s3.gall-right-pos(rel='fancybox-thumb' href='img/gallery/bear-s3/photo3.jpg')
      img(src='img/gallery/bear-s3/photo3.jpg' height='200px' width='200px')
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
  .product--head.head-bear-s1-w Чучело медвежонка
  .product--price.prod-price-w 35 000 <span class='rub'>₶</span>
  .product--description.descr-bear-s1-w.
    <span>В</span>ысота медвежонка 102 см. Исполнен в классическом варианте.
  .gallery
    a.gallery--photo.fancybox-bear-s4.gall-left-pos(rel='fancybox-thumb' href='img/gallery/bear-s4/photo1.jpg')
      img(src='img/gallery/bear-s4/photo1.jpg' height='200px' width='200px')
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
    a.gallery--photo.fancybox-bear-s4.gall-center-pos(rel='fancybox-thumb' href='img/gallery/bear-s4/photo2.jpg')
      img(src='img/gallery/bear-s4/photo2.jpg' height='200px' width='200px')
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
    a.gallery--photo.fancybox-bear-s4.gall-right-pos(rel='fancybox-thumb' href='img/gallery/bear-s4/photo3.jpg')
      img(src='img/gallery/bear-s4/photo3.jpg' height='200px' width='200px')
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
  .product--head.head-wolf-g1-w Чучело волчицы
  .product--price.prod-price-w 50 000 <span class='rub'>₶</span>
  .product--description.descr-bear-s1-w.
    <span>В</span>ысота медвежонка 133 см. Исполнен в классическом варианте.
  .gallery
    a.gallery--photo.fancybox-wolf-g1.gall-left-pos(rel='fancybox-thumb' href='img/gallery/wolf-g1/photo1.jpg')
      img(src='img/gallery/wolf-g1/photo1.jpg' height='200px' width='200px')
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
    a.gallery--photo.fancybox-wolf-g1.gall-center-pos(rel='fancybox-thumb' href='img/gallery/wolf-g1/photo2.jpg')
      img(src='img/gallery/wolf-g1/photo2.jpg' height='200px' width='200px')
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
    a.gallery--photo.fancybox-wolf-g1.gall-right-pos(rel='fancybox-thumb' href='img/gallery/wolf-g1/photo3.jpg')
      img(src='img/gallery/wolf-g1/photo3.jpg' height='200px' width='200px')
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
  