.title
  .title--wolf
  .title--text.title-top1 На нашем сайте вы найдете:
  .title--text.title-top2 качественные чучела животных,
  .title--text.title-top3 ковры с головами
  .title--text.title-top4 и многое другое...
.dummy
  .dummy--title Чучела животных
  .dummy--order возможно изготовление по индивидуальному заказу
  .dummy--head Чучело медведя
  .dummy--price 80 000 <span class='rub'>₶</span>
  .dummy--description.
    <span>В</span>ысота медведя 172 см. Исполнен в классическом варианте.
  .gallery
    .gallery--photo
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
    .gallery--photo
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right
    .gallery--photo
      .gallery--ramka.bot-left
      .gallery--ramka.bot-right
      .gallery--ramka.top-left
      .gallery--ramka.top-right