lobster = 'Lobster', cursive;
comfortaa = 'Comfortaa', cursive;
.header
  width inherit
  border-bottom 8px solid black
  &--main-block
    height 120px
    padding-top 1px
    position relative
    min-width 930px
    max-width 1400px
    margin 0 auto
  &--logo
    position absolute
    left 30px
    top 20px
    background-image url('../img/logo.png')
    height 103px;
    width 200px;
    background-size 150px
    background-repeat no-repeat
  &--menu
    margin 0 auto
    margin-top 40px
    width 445px;
  &--menu-item
    text-decoration none
    margin-right 80px
    color black
    font-size 30px
    font-family lobster
    position relative
  &--menu-item::before
    content ''
    width 100%
    position absolute
    height 2px
    background-color gray
    left 0
    right 0
    bottom 3px
    opacity .25
    transform scaleX(.85)
    transition .2s
  &--menu-item:hover:before
    transform scaleX(1)
    background-color black
    height 1px
    opacity 1
  &--contacts
    position absolute
    top 40px
    right 50px
    font-family comfortaa
    font-weight bold
  &--phone
    padding-left 30px
    background-image url('../img/oldphone.svg')
    background-repeat no-repeat