.header--logo
nav.header--menu
  a.header--menu-item(href='') чучела
  a.header--menu-item(href='') ковры
  a.header--menu-item(href='') ништяки
.header--contacts
  .header--phone 8 962 241 73 16
  .header--city г. Санкт-Петербург